AIRFLOW_IMAGE_NAME=workshop2-airflow:3.1.8
AIRFLOW_UID=50000

# PostgreSQL de datos (fuente Grammy y Data Warehouse)
DATA_DB_USER=etl_user
DATA_DB_PASSWORD=cambia_esta_clave
GRAMMY_DB_NAME=grammy_source
DW_DB_NAME=music_dw
